*{
    box-sizing: content-box;
}


p{
    margin: 0.2rem;
}

ul{
    margin:0;
}

li{
    padding: 0.2rem;
}

.container{
    /* width: 80%; */
    padding: 1rem;
    margin:auto;
}

.personal-details{
    text-align: center;
}

a{
    text-decoration: none;
}

a:link{
    color: black;
}

a:visited{
    color:black;
}

a:hover{
    color:blue;
}

a:active{
    color:blue;
}

.noBullets{
    list-style: none;
}

.squareBullets{
    list-style: square;
}